.rssCard {
    float: left;
}

.rssCard:last-of-type {
    float: none;
}

@media only screen and (max-width: 480px) {
    .sectioncolfix {
        padding-right: 0
    }
}

@media (min-width: 1200px) {
    #backendFormContainer {
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    #backendFormContainer {
        max-width: 740px;
    }
}

body {
    margin-bottom: 6px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
}

html {
    position: relative;
    min-height: 100%;
}
